//! **************************************************************************
// Written by: Map P.68d on Fri Jan 16 16:14:57 2015
//! **************************************************************************

SCHEMATIC START;
COMP "green_o<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "green_o<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "green_o<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "kbdclk_i" LOCATE = SITE "F4" LEVEL 1;
COMP "red_o<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "red_o<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "red_o<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "kbddata_i" LOCATE = SITE "B2" LEVEL 1;
COMP "clk_m" LOCATE = SITE "E3" LEVEL 1;
COMP "vsync_o" LOCATE = SITE "B12" LEVEL 1;
COMP "anode_o<2>" LOCATE = SITE "M3" LEVEL 1;
COMP "anode_o<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "anode_o<3>" LOCATE = SITE "N5" LEVEL 1;
COMP "anode_o<0>" LOCATE = SITE "N6" LEVEL 1;
COMP "cathode_o<2>" LOCATE = SITE "L5" LEVEL 1;
COMP "cathode_o<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "cathode_o<4>" LOCATE = SITE "K3" LEVEL 1;
COMP "cathode_o<3>" LOCATE = SITE "L4" LEVEL 1;
COMP "cathode_o<0>" LOCATE = SITE "L3" LEVEL 1;
COMP "cathode_o<6>" LOCATE = SITE "L6" LEVEL 1;
COMP "cathode_o<5>" LOCATE = SITE "M2" LEVEL 1;
COMP "hsync_o" LOCATE = SITE "B11" LEVEL 1;
COMP "blue_o<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "blue_o<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "reset_i" LOCATE = SITE "E16" LEVEL 1;
PIN Inst_firmware/ram_1k_generate.akv7.kcpsm6_rom_pins<32> = BEL
        "Inst_firmware/ram_1k_generate.akv7.kcpsm6_rom" PINNAME CLKARDCLK;
TIMEGRP clkgen_inst_clkout0 = BEL "kcpsm_inport_0" BEL "kcpsm_inport_1" BEL
        "kcpsm_inport_2" BEL "kcpsm_inport_3" BEL "kcpsm_inport_4" BEL
        "kcpsm_inport_5" BEL "kcpsm_inport_6" BEL "kcpsm_inport_7" BEL "row_0"
        BEL "row_1" BEL "row_2" BEL "row_3" BEL "row_4" BEL "column_0" BEL
        "column_1" BEL "column_2" BEL "column_3" BEL "column_4" BEL "column_5"
        BEL "ps2_inst/sync_kbddata" BEL "ps2_inst/sync_kbdclk" BEL
        "ps2_inst/Inst_TopModul/psc2/pulse" BEL
        "ps2_inst/Inst_negedge/state_FSM_FFd3" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_0" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_1" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_2" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_3" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_4" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_5" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_6" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_7" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_8" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_9" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_10" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_11" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_12" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_13" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_14" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_15" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_16" BEL
        "ps2_inst/Inst_TopModul/psc2/precnt_17" BEL "clkgen_inst/clkout1_buf"
        BEL "ps2_inst/Inst_control/state_FSM_FFd2" BEL
        "ps2_inst/Inst_control/state_FSM_FFd3" BEL
        "ps2_inst/Inst_control/state_FSM_FFd5" BEL
        "ps2_inst/Inst_control/state_FSM_FFd6" BEL
        "ps2_inst/Inst_control/state_FSM_FFd4" BEL
        "ps2_inst/Inst_control/state_FSM_FFd8" BEL
        "ps2_inst/Inst_control/state_FSM_FFd9" BEL
        "ps2_inst/Inst_control/state_FSM_FFd7" BEL
        "ps2_inst/Inst_control/state_FSM_FFd11" BEL
        "ps2_inst/Inst_control/state_FSM_FFd12" BEL
        "ps2_inst/Inst_control/state_FSM_FFd10" BEL
        "ps2_inst/Inst_shiftReg/data_8" BEL "ps2_inst/Inst_shiftReg/data_7"
        BEL "ps2_inst/Inst_shiftReg/data_6" BEL
        "ps2_inst/Inst_shiftReg/data_5" BEL "ps2_inst/Inst_shiftReg/data_4"
        BEL "ps2_inst/Inst_shiftReg/data_3" BEL
        "ps2_inst/Inst_shiftReg/data_2" BEL "ps2_inst/Inst_shiftReg/data_1"
        BEL "ps2_inst/Inst_shiftReg/data_0" BEL
        "ps2_inst/Inst_TopModul/s7/anode_FSM_FFd1" BEL
        "ps2_inst/Inst_TopModul/s7/anode_FSM_FFd2" BEL
        "ps2_inst/Inst_TopModul/s7/num_3" BEL
        "ps2_inst/Inst_TopModul/s7/num_2" BEL
        "ps2_inst/Inst_TopModul/s7/num_1" BEL
        "ps2_inst/Inst_TopModul/s7/num_0" BEL "vga_inst/color_2" BEL
        "vga_inst/Inst_hsync/cnt/count_10" BEL
        "vga_inst/Inst_hsync/cnt/count_9" BEL
        "vga_inst/Inst_hsync/cnt/count_8" BEL
        "vga_inst/Inst_hsync/cnt/count_7" BEL
        "vga_inst/Inst_hsync/cnt/count_6" BEL
        "vga_inst/Inst_hsync/cnt/count_5" BEL
        "vga_inst/Inst_hsync/cnt/count_4" BEL
        "vga_inst/Inst_hsync/cnt/count_3" BEL
        "vga_inst/Inst_hsync/cnt/count_2" BEL
        "vga_inst/Inst_hsync/cnt/count_1" BEL
        "vga_inst/Inst_hsync/cnt/count_0" BEL
        "vga_inst/Inst_vsync/cnt/count_9" BEL
        "vga_inst/Inst_vsync/cnt/count_8" BEL
        "vga_inst/Inst_vsync/cnt/count_7" BEL
        "vga_inst/Inst_vsync/cnt/count_6" BEL
        "vga_inst/Inst_vsync/cnt/count_5" BEL
        "vga_inst/Inst_vsync/cnt/count_4" BEL
        "vga_inst/Inst_vsync/cnt/count_3" BEL
        "vga_inst/Inst_vsync/cnt/count_2" BEL
        "vga_inst/Inst_vsync/cnt/count_1" BEL
        "vga_inst/Inst_vsync/cnt/count_0" BEL "vga_inst/Inst_vsync/vvidon" BEL
        "vga_inst/Inst_vsync/vsync" BEL
        "Inst_kcpsm6/data_path_loop[7].small_spm.spm_flop" BEL
        "Inst_kcpsm6/data_path_loop[7].low_hwbuild.shift_rotate_flop" BEL
        "Inst_kcpsm6/data_path_loop[7].arith_logical_flop" BEL
        "Inst_kcpsm6/data_path_loop[6].small_spm.spm_flop" BEL
        "Inst_kcpsm6/data_path_loop[6].low_hwbuild.shift_rotate_flop" BEL
        "Inst_kcpsm6/data_path_loop[6].arith_logical_flop" BEL
        "Inst_kcpsm6/data_path_loop[5].small_spm.spm_flop" BEL
        "Inst_kcpsm6/data_path_loop[5].low_hwbuild.shift_rotate_flop" BEL
        "Inst_kcpsm6/data_path_loop[5].arith_logical_flop" BEL
        "Inst_kcpsm6/data_path_loop[4].small_spm.spm_flop" BEL
        "Inst_kcpsm6/data_path_loop[4].low_hwbuild.shift_rotate_flop" BEL
        "Inst_kcpsm6/data_path_loop[4].arith_logical_flop" BEL
        "Inst_kcpsm6/data_path_loop[3].small_spm.spm_flop" BEL
        "Inst_kcpsm6/data_path_loop[3].low_hwbuild.shift_rotate_flop" BEL
        "Inst_kcpsm6/data_path_loop[3].arith_logical_flop" BEL
        "Inst_kcpsm6/data_path_loop[2].small_spm.spm_flop" BEL
        "Inst_kcpsm6/data_path_loop[2].low_hwbuild.shift_rotate_flop" BEL
        "Inst_kcpsm6/data_path_loop[2].arith_logical_flop" BEL
        "Inst_kcpsm6/data_path_loop[1].small_spm.spm_flop" BEL
        "Inst_kcpsm6/data_path_loop[1].low_hwbuild.shift_rotate_flop" BEL
        "Inst_kcpsm6/data_path_loop[1].arith_logical_flop" BEL
        "Inst_kcpsm6/data_path_loop[0].small_spm.spm_flop" BEL
        "Inst_kcpsm6/data_path_loop[0].low_hwbuild.shift_rotate_flop" BEL
        "Inst_kcpsm6/data_path_loop[0].arith_logical_flop" BEL
        "Inst_kcpsm6/stack_loop[4].upper_stack.pointer_flop" BEL
        "Inst_kcpsm6/stack_loop[3].upper_stack.pointer_flop" BEL
        "Inst_kcpsm6/stack_loop[2].upper_stack.pointer_flop" BEL
        "Inst_kcpsm6/stack_loop[1].upper_stack.pointer_flop" BEL
        "Inst_kcpsm6/stack_loop[0].lsb_stack.pointer_flop" BEL
        "Inst_kcpsm6/stack_bit_flop" BEL "Inst_kcpsm6/shadow_bank_flop" BEL
        "Inst_kcpsm6/shadow_zero_flag_flop" BEL "Inst_kcpsm6/stack_zero_flop"
        BEL "Inst_kcpsm6/shadow_carry_flag_flop" BEL
        "Inst_kcpsm6/address_loop[11].pc_flop" BEL
        "Inst_kcpsm6/address_loop[11].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[10].pc_flop" BEL
        "Inst_kcpsm6/address_loop[10].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[9].pc_flop" BEL
        "Inst_kcpsm6/address_loop[9].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[8].pc_flop" BEL
        "Inst_kcpsm6/address_loop[8].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[7].pc_flop" BEL
        "Inst_kcpsm6/address_loop[7].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[6].pc_flop" BEL
        "Inst_kcpsm6/address_loop[6].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[5].pc_flop" BEL
        "Inst_kcpsm6/address_loop[5].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[4].pc_flop" BEL
        "Inst_kcpsm6/address_loop[4].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[3].pc_flop" BEL
        "Inst_kcpsm6/address_loop[3].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[2].pc_flop" BEL
        "Inst_kcpsm6/address_loop[2].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[1].pc_flop" BEL
        "Inst_kcpsm6/address_loop[1].return_vector_flop" BEL
        "Inst_kcpsm6/address_loop[0].pc_flop" BEL
        "Inst_kcpsm6/address_loop[0].return_vector_flop" BEL
        "Inst_kcpsm6/zero_flag_flop" BEL "Inst_kcpsm6/use_zero_flag_flop" BEL
        "Inst_kcpsm6/carry_flag_flop" BEL "Inst_kcpsm6/shift_carry_flop" BEL
        "Inst_kcpsm6/arith_carry_flop" BEL "Inst_kcpsm6/sx_addr4_flop" BEL
        "Inst_kcpsm6/bank_flop" BEL "Inst_kcpsm6/write_strobe_flop" BEL
        "Inst_kcpsm6/spm_enable_flop" BEL "Inst_kcpsm6/register_enable_flop"
        BEL "Inst_kcpsm6/flag_enable_flop" BEL "Inst_kcpsm6/alu_mux_sel1_flop"
        BEL "Inst_kcpsm6/alu_mux_sel0_flop" BEL
        "Inst_kcpsm6/interrupt_ack_flop" BEL
        "Inst_kcpsm6/active_interrupt_flop" BEL
        "Inst_kcpsm6/interrupt_enable_flop" BEL "Inst_kcpsm6/t_state2_flop"
        BEL "Inst_kcpsm6/t_state1_flop" BEL "Inst_kcpsm6/internal_reset_flop"
        BEL "Inst_kcpsm6/run_flop" BEL "Inst_kcpsm6/sync_interrupt_flop" BEL
        "data" BEL "write_enable" BEL "ps2_inst/Inst_negedge/state_FSM_FFd2"
        BEL "ps2_inst/Inst_control/state_FSM_FFd1" BEL "vga_inst/curr_bit" BEL
        "vga_inst/Inst_RAM32x40/_o4436" BEL "vga_inst/Inst_RAM32x40/_o4434"
        BEL "vga_inst/Inst_RAM32x40/_o4432" BEL
        "vga_inst/Inst_RAM32x40/_o4430" BEL "vga_inst/Inst_RAM32x40/_o4428"
        BEL "vga_inst/Inst_RAM32x40/_o4424" BEL
        "vga_inst/Inst_RAM32x40/_o4422" BEL "vga_inst/Inst_RAM32x40/_o4426"
        BEL "vga_inst/Inst_RAM32x40/_o4420" BEL
        "vga_inst/Inst_RAM32x40/_o4418" BEL "vga_inst/Inst_RAM32x40/_o4416"
        BEL "vga_inst/Inst_RAM32x40/_o4414" BEL
        "vga_inst/Inst_RAM32x40/_o4412" BEL "vga_inst/Inst_RAM32x40/_o4410"
        BEL "vga_inst/Inst_RAM32x40/_o4406" BEL
        "vga_inst/Inst_RAM32x40/_o4404" BEL "vga_inst/Inst_RAM32x40/_o4408"
        BEL "vga_inst/Inst_RAM32x40/_o4402" BEL
        "vga_inst/Inst_RAM32x40/_o4400" BEL "vga_inst/Inst_RAM32x40/_o4398"
        BEL "vga_inst/Inst_RAM32x40/_o4396" BEL
        "vga_inst/Inst_RAM32x40/_o4394" BEL "vga_inst/Inst_RAM32x40/_o4392"
        BEL "vga_inst/Inst_RAM32x40/_o4388" BEL
        "vga_inst/Inst_RAM32x40/_o4386" BEL "vga_inst/Inst_RAM32x40/_o4390"
        BEL "vga_inst/Inst_RAM32x40/_o4384" BEL
        "vga_inst/Inst_RAM32x40/_o4382" BEL "vga_inst/Inst_RAM32x40/_o4378"
        BEL "vga_inst/Inst_RAM32x40/_o4376" BEL
        "vga_inst/Inst_RAM32x40/_o4380" BEL "vga_inst/Inst_RAM32x40/_o4374"
        BEL "vga_inst/Inst_RAM32x40/_o4372" BEL
        "vga_inst/Inst_RAM32x40/_o4368" BEL "vga_inst/Inst_RAM32x40/_o4366"
        BEL "vga_inst/Inst_RAM32x40/_o4370" BEL
        "vga_inst/Inst_RAM32x40/_o4364" BEL "vga_inst/Inst_RAM32x40/_o4362"
        BEL "vga_inst/Inst_RAM32x40/_o4360" BEL
        "vga_inst/Inst_RAM32x40/_o4358" BEL "vga_inst/Inst_RAM32x40/_o4356"
        BEL "vga_inst/Inst_RAM32x40/_o4354" BEL
        "vga_inst/Inst_RAM32x40/_o4350" BEL "vga_inst/Inst_RAM32x40/_o4348"
        BEL "vga_inst/Inst_RAM32x40/_o4352" BEL
        "vga_inst/Inst_RAM32x40/_o4346" BEL "vga_inst/Inst_RAM32x40/_o4344"
        BEL "vga_inst/Inst_RAM32x40/_o4340" BEL
        "vga_inst/Inst_RAM32x40/_o4338" BEL "vga_inst/Inst_RAM32x40/_o4342"
        BEL "vga_inst/Inst_RAM32x40/_o4336" BEL
        "vga_inst/Inst_RAM32x40/_o4334" BEL "vga_inst/Inst_RAM32x40/_o4330"
        BEL "vga_inst/Inst_RAM32x40/_o4328" BEL
        "vga_inst/Inst_RAM32x40/_o4332" BEL "vga_inst/Inst_RAM32x40/_o4326"
        BEL "vga_inst/Inst_RAM32x40/_o4324" BEL
        "vga_inst/Inst_RAM32x40/_o4322" BEL "vga_inst/Inst_RAM32x40/_o4320"
        BEL "vga_inst/Inst_RAM32x40/_o4318" BEL
        "vga_inst/Inst_RAM32x40/_o4316" BEL "vga_inst/Inst_RAM32x40/_o4312"
        BEL "vga_inst/Inst_RAM32x40/_o4310" BEL
        "vga_inst/Inst_RAM32x40/_o4314" BEL "vga_inst/Inst_RAM32x40/_o4308"
        BEL "vga_inst/Inst_RAM32x40/_o4306" BEL
        "vga_inst/Inst_RAM32x40/_o4302" BEL "vga_inst/Inst_RAM32x40/_o4300"
        BEL "vga_inst/Inst_RAM32x40/_o4304" BEL
        "vga_inst/Inst_RAM32x40/_o4298" BEL "vga_inst/Inst_RAM32x40/_o4296"
        BEL "vga_inst/Inst_RAM32x40/_o4292" BEL
        "vga_inst/Inst_RAM32x40/_o4290" BEL "vga_inst/Inst_RAM32x40/_o4294"
        BEL "vga_inst/Inst_RAM32x40/_o4288" BEL
        "vga_inst/Inst_RAM32x40/_o4286" BEL "vga_inst/Inst_RAM32x40/_o4284"
        BEL "vga_inst/Inst_RAM32x40/_o4282" BEL
        "vga_inst/Inst_RAM32x40/_o4280" BEL "vga_inst/Inst_RAM32x40/_o4278"
        BEL "vga_inst/Inst_RAM32x40/_o4274" BEL
        "vga_inst/Inst_RAM32x40/_o4272" BEL "vga_inst/Inst_RAM32x40/_o4276"
        BEL "vga_inst/Inst_RAM32x40/_o4270" BEL
        "vga_inst/Inst_RAM32x40/_o4268" BEL "vga_inst/Inst_RAM32x40/_o4266"
        BEL "vga_inst/Inst_RAM32x40/_o4264" BEL
        "vga_inst/Inst_RAM32x40/_o4262" BEL "vga_inst/Inst_RAM32x40/_o4260"
        BEL "vga_inst/Inst_RAM32x40/_o4256" BEL
        "vga_inst/Inst_RAM32x40/_o4254" BEL "vga_inst/Inst_RAM32x40/_o4258"
        BEL "vga_inst/Inst_RAM32x40/_o4252" BEL
        "vga_inst/Inst_RAM32x40/_o4250" BEL "vga_inst/Inst_RAM32x40/_o4248"
        BEL "vga_inst/Inst_RAM32x40/_o4246" BEL
        "vga_inst/Inst_RAM32x40/_o4244" BEL "vga_inst/Inst_RAM32x40/_o4242"
        BEL "vga_inst/Inst_RAM32x40/_o4238" BEL
        "vga_inst/Inst_RAM32x40/_o4236" BEL "vga_inst/Inst_RAM32x40/_o4240"
        BEL "vga_inst/Inst_RAM32x40/_o4234" BEL
        "vga_inst/Inst_RAM32x40/_o4232" BEL "vga_inst/Inst_RAM32x40/_o4228"
        BEL "vga_inst/Inst_RAM32x40/_o4226" BEL
        "vga_inst/Inst_RAM32x40/_o4230" BEL "vga_inst/Inst_RAM32x40/_o4224"
        BEL "vga_inst/Inst_RAM32x40/_o4222" BEL
        "vga_inst/Inst_RAM32x40/_o4218" BEL "vga_inst/Inst_RAM32x40/_o4216"
        BEL "vga_inst/Inst_RAM32x40/_o4220" BEL
        "vga_inst/Inst_RAM32x40/_o4214" BEL "vga_inst/Inst_RAM32x40/_o4212"
        BEL "vga_inst/Inst_RAM32x40/_o4210" BEL
        "vga_inst/Inst_RAM32x40/_o4208" BEL "vga_inst/Inst_RAM32x40/_o4206"
        BEL "vga_inst/Inst_RAM32x40/_o4204" BEL
        "vga_inst/Inst_RAM32x40/_o4200" BEL "vga_inst/Inst_RAM32x40/_o4198"
        BEL "vga_inst/Inst_RAM32x40/_o4202" BEL
        "vga_inst/Inst_RAM32x40/_o4196" BEL "vga_inst/Inst_RAM32x40/_o4194"
        BEL "vga_inst/Inst_RAM32x40/_o4190" BEL
        "vga_inst/Inst_RAM32x40/_o4188" BEL "vga_inst/Inst_RAM32x40/_o4192"
        BEL "vga_inst/Inst_RAM32x40/_o4186" BEL
        "vga_inst/Inst_RAM32x40/_o4184" BEL "vga_inst/Inst_RAM32x40/_o4180"
        BEL "vga_inst/Inst_RAM32x40/_o4178" BEL
        "vga_inst/Inst_RAM32x40/_o4182" BEL "vga_inst/Inst_RAM32x40/_o4176"
        BEL "vga_inst/Inst_RAM32x40/_o4174" BEL
        "vga_inst/Inst_RAM32x40/_o4172" BEL "vga_inst/Inst_RAM32x40/_o4170"
        BEL "vga_inst/Inst_RAM32x40/_o4168" BEL
        "vga_inst/Inst_RAM32x40/_o4166" BEL "vga_inst/Inst_RAM32x40/_o4162"
        BEL "vga_inst/Inst_RAM32x40/_o4160" BEL
        "vga_inst/Inst_RAM32x40/_o4164" BEL "vga_inst/Inst_RAM32x40/_o4158"
        BEL "vga_inst/Inst_RAM32x40/_o4156" BEL
        "vga_inst/Inst_RAM32x40/_o4152" BEL "vga_inst/Inst_RAM32x40/_o4150"
        BEL "vga_inst/Inst_RAM32x40/_o4154" BEL
        "vga_inst/Inst_RAM32x40/_o4148" BEL "vga_inst/Inst_RAM32x40/_o4146"
        BEL "vga_inst/Inst_RAM32x40/_o4142" BEL
        "vga_inst/Inst_RAM32x40/_o4140" BEL "vga_inst/Inst_RAM32x40/_o4144"
        BEL "vga_inst/Inst_RAM32x40/_o4138" BEL
        "vga_inst/Inst_RAM32x40/_o4136" BEL "vga_inst/Inst_RAM32x40/_o4134"
        BEL "vga_inst/Inst_RAM32x40/_o4132" BEL
        "vga_inst/Inst_RAM32x40/_o4130" BEL "vga_inst/Inst_RAM32x40/_o4128"
        BEL "vga_inst/Inst_RAM32x40/_o4124" BEL
        "vga_inst/Inst_RAM32x40/_o4122" BEL "vga_inst/Inst_RAM32x40/_o4126"
        BEL "vga_inst/Inst_RAM32x40/_o4120" BEL
        "vga_inst/Inst_RAM32x40/_o4118" BEL "vga_inst/Inst_RAM32x40/_o4116"
        BEL "vga_inst/Inst_RAM32x40/_o4114" BEL
        "vga_inst/Inst_RAM32x40/_o4112" BEL "vga_inst/Inst_RAM32x40/_o4110"
        BEL "vga_inst/Inst_RAM32x40/_o4106" BEL
        "vga_inst/Inst_RAM32x40/_o4104" BEL "vga_inst/Inst_RAM32x40/_o4108"
        BEL "vga_inst/Inst_RAM32x40/_o4102" BEL
        "vga_inst/Inst_RAM32x40/_o4100" BEL "vga_inst/Inst_RAM32x40/_o4098"
        BEL "vga_inst/Inst_RAM32x40/_o4096" BEL
        "vga_inst/Inst_RAM32x40/_o4094" BEL "vga_inst/Inst_RAM32x40/_o4092"
        BEL "vga_inst/Inst_RAM32x40/_o4088" BEL
        "vga_inst/Inst_RAM32x40/_o4086" BEL "vga_inst/Inst_RAM32x40/_o4090"
        BEL "vga_inst/Inst_RAM32x40/_o4084" BEL
        "vga_inst/Inst_RAM32x40/_o4082" BEL "vga_inst/Inst_RAM32x40/_o4078"
        BEL "vga_inst/Inst_RAM32x40/_o4076" BEL
        "vga_inst/Inst_RAM32x40/_o4080" BEL "vga_inst/Inst_RAM32x40/_o4074"
        BEL "vga_inst/Inst_RAM32x40/_o4072" BEL
        "vga_inst/Inst_RAM32x40/_o4068" BEL "vga_inst/Inst_RAM32x40/_o4066"
        BEL "vga_inst/Inst_RAM32x40/_o4070" BEL
        "vga_inst/Inst_RAM32x40/_o4064" BEL "vga_inst/Inst_RAM32x40/_o4062"
        BEL "vga_inst/Inst_RAM32x40/_o4060" BEL
        "vga_inst/Inst_RAM32x40/_o4058" BEL "vga_inst/Inst_RAM32x40/_o4056"
        BEL "vga_inst/Inst_RAM32x40/_o4054" BEL
        "vga_inst/Inst_RAM32x40/_o4050" BEL "vga_inst/Inst_RAM32x40/_o4048"
        BEL "vga_inst/Inst_RAM32x40/_o4052" BEL
        "vga_inst/Inst_RAM32x40/_o4046" BEL "vga_inst/Inst_RAM32x40/_o4044"
        BEL "vga_inst/Inst_RAM32x40/_o4040" BEL
        "vga_inst/Inst_RAM32x40/_o4038" BEL "vga_inst/Inst_RAM32x40/_o4042"
        BEL "vga_inst/Inst_RAM32x40/_o4036" BEL
        "vga_inst/Inst_RAM32x40/_o4034" BEL "vga_inst/Inst_RAM32x40/_o4030"
        BEL "vga_inst/Inst_RAM32x40/_o4028" BEL
        "vga_inst/Inst_RAM32x40/_o4032" BEL "vga_inst/Inst_RAM32x40/_o4026"
        BEL "vga_inst/Inst_RAM32x40/_o4024" BEL
        "vga_inst/Inst_RAM32x40/_o4022" BEL "vga_inst/Inst_RAM32x40/_o4020"
        BEL "vga_inst/Inst_RAM32x40/_o4018" BEL
        "vga_inst/Inst_RAM32x40/_o4016" BEL "vga_inst/Inst_RAM32x40/_o4012"
        BEL "vga_inst/Inst_RAM32x40/_o4010" BEL
        "vga_inst/Inst_RAM32x40/_o4014" BEL "vga_inst/Inst_RAM32x40/_o4008"
        BEL "vga_inst/Inst_RAM32x40/_o4006" BEL
        "vga_inst/Inst_RAM32x40/_o4002" BEL "vga_inst/Inst_RAM32x40/_o4000"
        BEL "vga_inst/Inst_RAM32x40/_o4004" BEL
        "vga_inst/Inst_RAM32x40/_o3998" BEL "vga_inst/Inst_RAM32x40/_o3996"
        BEL "vga_inst/Inst_RAM32x40/_o3992" BEL
        "vga_inst/Inst_RAM32x40/_o3990" BEL "vga_inst/Inst_RAM32x40/_o3994"
        BEL "vga_inst/Inst_RAM32x40/_o3988" BEL
        "vga_inst/Inst_RAM32x40/_o3986" BEL "vga_inst/Inst_RAM32x40/_o3984"
        BEL "vga_inst/Inst_RAM32x40/_o3982" BEL
        "vga_inst/Inst_RAM32x40/_o3980" BEL "vga_inst/Inst_RAM32x40/_o3978"
        BEL "vga_inst/Inst_RAM32x40/_o3974" BEL
        "vga_inst/Inst_RAM32x40/_o3972" BEL "vga_inst/Inst_RAM32x40/_o3976"
        BEL "vga_inst/Inst_RAM32x40/_o3970" BEL
        "vga_inst/Inst_RAM32x40/_o3968" BEL "vga_inst/Inst_RAM32x40/_o3966"
        BEL "vga_inst/Inst_RAM32x40/_o3964" BEL
        "vga_inst/Inst_RAM32x40/_o3962" BEL "vga_inst/Inst_RAM32x40/_o3960"
        BEL "vga_inst/Inst_RAM32x40/_o3956" BEL
        "vga_inst/Inst_RAM32x40/_o3954" BEL "vga_inst/Inst_RAM32x40/_o3958"
        BEL "vga_inst/Inst_RAM32x40/_o3952" BEL
        "vga_inst/Inst_RAM32x40/_o3950" BEL "vga_inst/Inst_RAM32x40/_o3948"
        BEL "vga_inst/Inst_RAM32x40/_o3946" BEL
        "vga_inst/Inst_RAM32x40/_o3944" BEL "vga_inst/Inst_RAM32x40/_o3942"
        BEL "vga_inst/Inst_RAM32x40/_o3938" BEL
        "vga_inst/Inst_RAM32x40/_o3936" BEL "vga_inst/Inst_RAM32x40/_o3940"
        BEL "vga_inst/Inst_RAM32x40/_o3934" BEL
        "vga_inst/Inst_RAM32x40/_o3932" BEL "vga_inst/Inst_RAM32x40/_o3928"
        BEL "vga_inst/Inst_RAM32x40/_o3926" BEL
        "vga_inst/Inst_RAM32x40/_o3930" BEL "vga_inst/Inst_RAM32x40/_o3924"
        BEL "vga_inst/Inst_RAM32x40/_o3922" BEL
        "vga_inst/Inst_RAM32x40/_o3918" BEL "vga_inst/Inst_RAM32x40/_o3916"
        BEL "vga_inst/Inst_RAM32x40/_o3920" BEL
        "vga_inst/Inst_RAM32x40/_o3914" BEL "vga_inst/Inst_RAM32x40/_o3912"
        BEL "vga_inst/Inst_RAM32x40/_o3910" BEL
        "vga_inst/Inst_RAM32x40/_o3908" BEL "vga_inst/Inst_RAM32x40/_o3906"
        BEL "vga_inst/Inst_RAM32x40/_o3904" BEL
        "vga_inst/Inst_RAM32x40/_o3900" BEL "vga_inst/Inst_RAM32x40/_o3898"
        BEL "vga_inst/Inst_RAM32x40/_o3902" BEL
        "vga_inst/Inst_RAM32x40/_o3896" BEL "vga_inst/Inst_RAM32x40/_o3894"
        BEL "vga_inst/Inst_RAM32x40/_o3890" BEL
        "vga_inst/Inst_RAM32x40/_o3888" BEL "vga_inst/Inst_RAM32x40/_o3892"
        BEL "vga_inst/Inst_RAM32x40/_o3886" BEL
        "vga_inst/Inst_RAM32x40/_o3884" BEL "vga_inst/Inst_RAM32x40/_o3880"
        BEL "vga_inst/Inst_RAM32x40/_o3878" BEL
        "vga_inst/Inst_RAM32x40/_o3882" BEL "vga_inst/Inst_RAM32x40/_o3876"
        BEL "vga_inst/Inst_RAM32x40/_o3874" BEL
        "vga_inst/Inst_RAM32x40/_o3872" BEL "vga_inst/Inst_RAM32x40/_o3870"
        BEL "vga_inst/Inst_RAM32x40/_o3868" BEL
        "vga_inst/Inst_RAM32x40/_o3866" BEL "vga_inst/Inst_RAM32x40/_o3862"
        BEL "vga_inst/Inst_RAM32x40/_o3860" BEL
        "vga_inst/Inst_RAM32x40/_o3864" BEL "vga_inst/Inst_RAM32x40/_o3858"
        BEL "vga_inst/Inst_RAM32x40/_o3856" BEL
        "vga_inst/Inst_RAM32x40/_o3852" BEL "vga_inst/Inst_RAM32x40/_o3850"
        BEL "vga_inst/Inst_RAM32x40/_o3854" BEL
        "vga_inst/Inst_RAM32x40/_o3848" BEL "vga_inst/Inst_RAM32x40/_o3846"
        BEL "vga_inst/Inst_RAM32x40/_o3842" BEL
        "vga_inst/Inst_RAM32x40/_o3840" BEL "vga_inst/Inst_RAM32x40/_o3844"
        BEL "vga_inst/Inst_RAM32x40/_o3838" BEL
        "vga_inst/Inst_RAM32x40/_o3836" BEL "vga_inst/Inst_RAM32x40/_o3834"
        BEL "vga_inst/Inst_RAM32x40/_o3832" BEL
        "vga_inst/Inst_RAM32x40/_o3830" BEL "vga_inst/Inst_RAM32x40/_o3828"
        BEL "vga_inst/Inst_RAM32x40/_o3824" BEL
        "vga_inst/Inst_RAM32x40/_o3822" BEL "vga_inst/Inst_RAM32x40/_o3826"
        BEL "vga_inst/Inst_RAM32x40/_o3820" BEL
        "vga_inst/Inst_RAM32x40/_o3818" BEL "vga_inst/Inst_RAM32x40/_o3816"
        BEL "vga_inst/Inst_RAM32x40/_o3814" BEL
        "vga_inst/Inst_RAM32x40/_o3812" BEL "vga_inst/Inst_RAM32x40/_o3810"
        BEL "vga_inst/Inst_RAM32x40/_o3806" BEL
        "vga_inst/Inst_RAM32x40/_o3804" BEL "vga_inst/Inst_RAM32x40/_o3808"
        BEL "vga_inst/Inst_RAM32x40/_o3802" BEL
        "vga_inst/Inst_RAM32x40/_o3800" BEL "vga_inst/Inst_RAM32x40/_o3798"
        BEL "vga_inst/Inst_RAM32x40/_o3796" BEL
        "vga_inst/Inst_RAM32x40/_o3794" BEL "vga_inst/Inst_RAM32x40/_o3792"
        BEL "vga_inst/Inst_RAM32x40/_o3788" BEL
        "vga_inst/Inst_RAM32x40/_o3786" BEL "vga_inst/Inst_RAM32x40/_o3790"
        BEL "vga_inst/Inst_RAM32x40/_o3784" BEL
        "vga_inst/Inst_RAM32x40/_o3782" BEL "vga_inst/Inst_RAM32x40/_o3778"
        BEL "vga_inst/Inst_RAM32x40/_o3776" BEL
        "vga_inst/Inst_RAM32x40/_o3780" BEL "vga_inst/Inst_RAM32x40/_o3774"
        BEL "vga_inst/Inst_RAM32x40/_o3772" BEL
        "vga_inst/Inst_RAM32x40/_o3768" BEL "vga_inst/Inst_RAM32x40/_o3766"
        BEL "vga_inst/Inst_RAM32x40/_o3770" BEL
        "vga_inst/Inst_RAM32x40/_o3764" BEL "vga_inst/Inst_RAM32x40/_o3762"
        BEL "vga_inst/Inst_RAM32x40/_o3760" BEL
        "vga_inst/Inst_RAM32x40/_o3758" BEL "vga_inst/Inst_RAM32x40/_o3756"
        BEL "vga_inst/Inst_RAM32x40/_o3754" BEL
        "vga_inst/Inst_RAM32x40/_o3750" BEL "vga_inst/Inst_RAM32x40/_o3748"
        BEL "vga_inst/Inst_RAM32x40/_o3752" BEL
        "vga_inst/Inst_RAM32x40/_o3746" BEL "vga_inst/Inst_RAM32x40/_o3744"
        BEL "vga_inst/Inst_RAM32x40/_o3740" BEL
        "vga_inst/Inst_RAM32x40/_o3738" BEL "vga_inst/Inst_RAM32x40/_o3742"
        BEL "vga_inst/Inst_RAM32x40/_o3736" BEL
        "vga_inst/Inst_RAM32x40/_o3734" BEL "vga_inst/Inst_RAM32x40/_o3730"
        BEL "vga_inst/Inst_RAM32x40/_o3728" BEL
        "vga_inst/Inst_RAM32x40/_o3732" BEL "vga_inst/Inst_RAM32x40/_o3726"
        BEL "vga_inst/Inst_RAM32x40/_o3724" BEL
        "vga_inst/Inst_RAM32x40/_o3722" BEL "vga_inst/Inst_RAM32x40/_o3720"
        BEL "vga_inst/Inst_RAM32x40/_o3718" BEL
        "vga_inst/Inst_RAM32x40/_o3716" BEL "vga_inst/Inst_RAM32x40/_o3712"
        BEL "vga_inst/Inst_RAM32x40/_o3710" BEL
        "vga_inst/Inst_RAM32x40/_o3714" BEL "vga_inst/Inst_RAM32x40/_o3708"
        BEL "vga_inst/Inst_RAM32x40/_o3706" BEL
        "vga_inst/Inst_RAM32x40/_o3702" BEL "vga_inst/Inst_RAM32x40/_o3700"
        BEL "vga_inst/Inst_RAM32x40/_o3704" BEL
        "vga_inst/Inst_RAM32x40/_o3698" BEL "vga_inst/Inst_RAM32x40/_o3696"
        BEL "vga_inst/Inst_RAM32x40/_o3692" BEL
        "vga_inst/Inst_RAM32x40/_o3690" BEL "vga_inst/Inst_RAM32x40/_o3694"
        BEL "vga_inst/Inst_RAM32x40/_o3688" BEL
        "vga_inst/Inst_RAM32x40/_o3686" BEL "vga_inst/Inst_RAM32x40/_o3684"
        BEL "vga_inst/Inst_RAM32x40/_o3682" BEL
        "vga_inst/Inst_RAM32x40/_o3680" BEL "vga_inst/Inst_RAM32x40/_o3678"
        BEL "vga_inst/Inst_RAM32x40/_o3674" BEL
        "vga_inst/Inst_RAM32x40/_o3672" BEL "vga_inst/Inst_RAM32x40/_o3676"
        BEL "vga_inst/Inst_RAM32x40/_o3670" BEL
        "vga_inst/Inst_RAM32x40/_o3668" BEL "vga_inst/Inst_RAM32x40/_o3666"
        BEL "vga_inst/Inst_RAM32x40/_o3664" BEL
        "vga_inst/Inst_RAM32x40/_o3662" BEL "vga_inst/Inst_RAM32x40/_o3660"
        BEL "vga_inst/Inst_RAM32x40/_o3656" BEL
        "vga_inst/Inst_RAM32x40/_o3654" BEL "vga_inst/Inst_RAM32x40/_o3658"
        BEL "vga_inst/Inst_RAM32x40/_o3652" BEL
        "vga_inst/Inst_RAM32x40/_o3650" BEL "vga_inst/Inst_RAM32x40/_o3648"
        BEL "vga_inst/Inst_RAM32x40/_o3646" BEL
        "vga_inst/Inst_RAM32x40/_o3644" BEL "vga_inst/Inst_RAM32x40/_o3642"
        BEL "vga_inst/Inst_RAM32x40/_o3638" BEL
        "vga_inst/Inst_RAM32x40/_o3636" BEL "vga_inst/Inst_RAM32x40/_o3640"
        BEL "vga_inst/Inst_RAM32x40/_o3634" BEL
        "vga_inst/Inst_RAM32x40/_o3632" BEL "vga_inst/Inst_RAM32x40/_o3628"
        BEL "vga_inst/Inst_RAM32x40/_o3626" BEL
        "vga_inst/Inst_RAM32x40/_o3630" BEL "vga_inst/Inst_RAM32x40/_o3624"
        BEL "vga_inst/Inst_RAM32x40/_o3622" BEL
        "vga_inst/Inst_RAM32x40/_o3618" BEL "vga_inst/Inst_RAM32x40/_o3616"
        BEL "vga_inst/Inst_RAM32x40/_o3620" BEL
        "vga_inst/Inst_RAM32x40/_o3614" BEL "vga_inst/Inst_RAM32x40/_o3612"
        BEL "vga_inst/Inst_RAM32x40/_o3610" BEL
        "vga_inst/Inst_RAM32x40/_o3608" BEL "vga_inst/Inst_RAM32x40/_o3606"
        BEL "vga_inst/Inst_RAM32x40/_o3604" BEL
        "vga_inst/Inst_RAM32x40/_o3600" BEL "vga_inst/Inst_RAM32x40/_o3598"
        BEL "vga_inst/Inst_RAM32x40/_o3602" BEL
        "vga_inst/Inst_RAM32x40/_o3596" BEL "vga_inst/Inst_RAM32x40/_o3594"
        BEL "vga_inst/Inst_RAM32x40/_o3590" BEL
        "vga_inst/Inst_RAM32x40/_o3588" BEL "vga_inst/Inst_RAM32x40/_o3592"
        BEL "vga_inst/Inst_RAM32x40/_o3586" BEL
        "vga_inst/Inst_RAM32x40/_o3584" BEL "vga_inst/Inst_RAM32x40/_o3580"
        BEL "vga_inst/Inst_RAM32x40/_o3578" BEL
        "vga_inst/Inst_RAM32x40/_o3582" BEL "vga_inst/Inst_RAM32x40/_o3576"
        BEL "vga_inst/Inst_RAM32x40/_o3574" BEL
        "vga_inst/Inst_RAM32x40/_o3572" BEL "vga_inst/Inst_RAM32x40/_o3570"
        BEL "vga_inst/Inst_RAM32x40/_o3568" BEL
        "vga_inst/Inst_RAM32x40/_o3566" BEL "vga_inst/Inst_RAM32x40/_o3562"
        BEL "vga_inst/Inst_RAM32x40/_o3560" BEL
        "vga_inst/Inst_RAM32x40/_o3564" BEL "vga_inst/Inst_RAM32x40/_o3558"
        BEL "vga_inst/Inst_RAM32x40/_o3556" BEL
        "vga_inst/Inst_RAM32x40/_o3552" BEL "vga_inst/Inst_RAM32x40/_o3550"
        BEL "vga_inst/Inst_RAM32x40/_o3554" BEL
        "vga_inst/Inst_RAM32x40/_o3548" BEL "vga_inst/Inst_RAM32x40/_o3546"
        BEL "vga_inst/Inst_RAM32x40/_o3542" BEL
        "vga_inst/Inst_RAM32x40/_o3540" BEL "vga_inst/Inst_RAM32x40/_o3544"
        BEL "vga_inst/Inst_RAM32x40/_o3538" BEL
        "vga_inst/Inst_RAM32x40/_o3536" BEL "vga_inst/Inst_RAM32x40/_o3534"
        BEL "vga_inst/Inst_RAM32x40/_o3532" BEL
        "vga_inst/Inst_RAM32x40/_o3530" BEL "vga_inst/Inst_RAM32x40/_o3528"
        BEL "vga_inst/Inst_RAM32x40/_o3524" BEL
        "vga_inst/Inst_RAM32x40/_o3522" BEL "vga_inst/Inst_RAM32x40/_o3526"
        BEL "vga_inst/Inst_RAM32x40/_o3520" BEL
        "vga_inst/Inst_RAM32x40/_o3518" BEL "vga_inst/Inst_RAM32x40/_o3516"
        BEL "vga_inst/Inst_RAM32x40/_o3514" BEL
        "vga_inst/Inst_RAM32x40/_o3512" BEL "vga_inst/Inst_RAM32x40/_o3510"
        BEL "vga_inst/Inst_RAM32x40/_o3506" BEL
        "vga_inst/Inst_RAM32x40/_o3504" BEL "vga_inst/Inst_RAM32x40/_o3508"
        BEL "vga_inst/Inst_RAM32x40/_o3502" BEL
        "vga_inst/Inst_RAM32x40/_o3500" BEL "vga_inst/Inst_RAM32x40/_o3498"
        BEL "vga_inst/Inst_RAM32x40/_o3496" BEL
        "vga_inst/Inst_RAM32x40/_o3494" BEL "vga_inst/Inst_RAM32x40/_o3492"
        BEL "vga_inst/Inst_RAM32x40/_o3488" BEL
        "vga_inst/Inst_RAM32x40/_o3486" BEL "vga_inst/Inst_RAM32x40/_o3490"
        BEL "vga_inst/Inst_RAM32x40/_o3484" BEL
        "vga_inst/Inst_RAM32x40/_o3482" BEL "vga_inst/Inst_RAM32x40/_o3478"
        BEL "vga_inst/Inst_RAM32x40/_o3476" BEL
        "vga_inst/Inst_RAM32x40/_o3480" BEL "vga_inst/Inst_RAM32x40/_o3474"
        BEL "vga_inst/Inst_RAM32x40/_o3472" BEL
        "vga_inst/Inst_RAM32x40/_o3468" BEL "vga_inst/Inst_RAM32x40/_o3466"
        BEL "vga_inst/Inst_RAM32x40/_o3470" BEL
        "vga_inst/Inst_RAM32x40/_o3464" BEL "vga_inst/Inst_RAM32x40/_o3462"
        BEL "vga_inst/Inst_RAM32x40/_o3460" BEL
        "vga_inst/Inst_RAM32x40/_o3458" BEL "vga_inst/Inst_RAM32x40/_o3456"
        BEL "vga_inst/Inst_RAM32x40/_o3454" BEL
        "vga_inst/Inst_RAM32x40/_o3450" BEL "vga_inst/Inst_RAM32x40/_o3448"
        BEL "vga_inst/Inst_RAM32x40/_o3452" BEL
        "vga_inst/Inst_RAM32x40/_o3446" BEL "vga_inst/Inst_RAM32x40/_o3444"
        BEL "vga_inst/Inst_RAM32x40/_o3440" BEL
        "vga_inst/Inst_RAM32x40/_o3438" BEL "vga_inst/Inst_RAM32x40/_o3442"
        BEL "vga_inst/Inst_RAM32x40/_o3436" BEL
        "vga_inst/Inst_RAM32x40/_o3434" BEL "vga_inst/Inst_RAM32x40/_o3430"
        BEL "vga_inst/Inst_RAM32x40/_o3428" BEL
        "vga_inst/Inst_RAM32x40/_o3432" BEL "vga_inst/Inst_RAM32x40/_o3426"
        BEL "vga_inst/Inst_RAM32x40/_o3424" BEL
        "vga_inst/Inst_RAM32x40/_o3422" BEL "vga_inst/Inst_RAM32x40/_o3420"
        BEL "vga_inst/Inst_RAM32x40/_o3418" BEL
        "vga_inst/Inst_RAM32x40/_o3416" BEL "vga_inst/Inst_RAM32x40/_o3412"
        BEL "vga_inst/Inst_RAM32x40/_o3410" BEL
        "vga_inst/Inst_RAM32x40/_o3414" BEL "vga_inst/Inst_RAM32x40/_o3408"
        BEL "vga_inst/Inst_RAM32x40/_o3406" BEL
        "vga_inst/Inst_RAM32x40/_o3402" BEL "vga_inst/Inst_RAM32x40/_o3400"
        BEL "vga_inst/Inst_RAM32x40/_o3404" BEL
        "vga_inst/Inst_RAM32x40/_o3398" BEL "vga_inst/Inst_RAM32x40/_o3396"
        BEL "vga_inst/Inst_RAM32x40/_o3392" BEL
        "vga_inst/Inst_RAM32x40/_o3390" BEL "vga_inst/Inst_RAM32x40/_o3394"
        BEL "vga_inst/Inst_RAM32x40/_o3388" BEL
        "vga_inst/Inst_RAM32x40/_o3386" BEL "vga_inst/Inst_RAM32x40/_o3384"
        BEL "vga_inst/Inst_RAM32x40/_o3382" BEL
        "vga_inst/Inst_RAM32x40/_o3380" BEL "vga_inst/Inst_RAM32x40/_o3378"
        BEL "vga_inst/Inst_RAM32x40/_o3374" BEL
        "vga_inst/Inst_RAM32x40/_o3372" BEL "vga_inst/Inst_RAM32x40/_o3376"
        BEL "vga_inst/Inst_RAM32x40/_o3370" BEL
        "vga_inst/Inst_RAM32x40/_o3368" BEL "vga_inst/Inst_RAM32x40/_o3366"
        BEL "vga_inst/Inst_RAM32x40/_o3364" BEL
        "vga_inst/Inst_RAM32x40/_o3362" BEL "vga_inst/Inst_RAM32x40/_o3360"
        BEL "vga_inst/Inst_RAM32x40/_o3356" BEL
        "vga_inst/Inst_RAM32x40/_o3354" BEL "vga_inst/Inst_RAM32x40/_o3358"
        BEL "vga_inst/Inst_RAM32x40/_o3352" BEL
        "vga_inst/Inst_RAM32x40/_o3350" BEL "vga_inst/Inst_RAM32x40/_o3348"
        BEL "vga_inst/Inst_RAM32x40/_o3346" BEL
        "vga_inst/Inst_RAM32x40/_o3344" BEL "vga_inst/Inst_RAM32x40/_o3342"
        BEL "vga_inst/Inst_RAM32x40/_o3338" BEL
        "vga_inst/Inst_RAM32x40/_o3336" BEL "vga_inst/Inst_RAM32x40/_o3340"
        BEL "vga_inst/Inst_RAM32x40/_o3334" BEL
        "vga_inst/Inst_RAM32x40/_o3332" BEL "vga_inst/Inst_RAM32x40/_o3328"
        BEL "vga_inst/Inst_RAM32x40/_o3326" BEL
        "vga_inst/Inst_RAM32x40/_o3330" BEL "vga_inst/Inst_RAM32x40/_o3324"
        BEL "vga_inst/Inst_RAM32x40/_o3322" BEL
        "vga_inst/Inst_RAM32x40/_o3318" BEL "vga_inst/Inst_RAM32x40/_o3316"
        BEL "vga_inst/Inst_RAM32x40/_o3320" BEL
        "vga_inst/Inst_RAM32x40/_o3314" BEL "vga_inst/Inst_RAM32x40/_o3312"
        BEL "vga_inst/Inst_RAM32x40/_o3310" BEL
        "vga_inst/Inst_RAM32x40/_o3308" BEL "vga_inst/Inst_RAM32x40/_o3306"
        BEL "vga_inst/Inst_RAM32x40/_o3304" BEL
        "vga_inst/Inst_RAM32x40/_o3300" BEL "vga_inst/Inst_RAM32x40/_o3298"
        BEL "vga_inst/Inst_RAM32x40/_o3302" BEL
        "vga_inst/Inst_RAM32x40/_o3296" BEL "vga_inst/Inst_RAM32x40/_o3294"
        BEL "vga_inst/Inst_RAM32x40/_o3290" BEL
        "vga_inst/Inst_RAM32x40/_o3288" BEL "vga_inst/Inst_RAM32x40/_o3292"
        BEL "vga_inst/Inst_RAM32x40/_o3286" BEL
        "vga_inst/Inst_RAM32x40/_o3284" BEL "vga_inst/Inst_RAM32x40/_o3280"
        BEL "vga_inst/Inst_RAM32x40/_o3278" BEL
        "vga_inst/Inst_RAM32x40/_o3282" BEL "vga_inst/Inst_RAM32x40/_o3276"
        BEL "vga_inst/Inst_RAM32x40/_o3274" BEL
        "vga_inst/Inst_RAM32x40/_o3272" BEL "vga_inst/Inst_RAM32x40/_o3270"
        BEL "vga_inst/Inst_RAM32x40/_o3268" BEL
        "vga_inst/Inst_RAM32x40/_o3266" BEL "vga_inst/Inst_RAM32x40/_o3262"
        BEL "vga_inst/Inst_RAM32x40/_o3260" BEL
        "vga_inst/Inst_RAM32x40/_o3264" BEL "vga_inst/Inst_RAM32x40/_o3258"
        BEL "vga_inst/Inst_RAM32x40/_o3256" BEL
        "vga_inst/Inst_RAM32x40/_o3252" BEL "vga_inst/Inst_RAM32x40/_o3250"
        BEL "vga_inst/Inst_RAM32x40/_o3254" BEL
        "vga_inst/Inst_RAM32x40/_o3248" BEL "vga_inst/Inst_RAM32x40/_o3246"
        BEL "vga_inst/Inst_RAM32x40/_o3242" BEL
        "vga_inst/Inst_RAM32x40/_o3240" BEL "vga_inst/Inst_RAM32x40/_o3244"
        BEL "vga_inst/Inst_RAM32x40/_o3238" BEL
        "vga_inst/Inst_RAM32x40/_o3236" BEL "vga_inst/Inst_RAM32x40/_o3234"
        BEL "vga_inst/Inst_RAM32x40/_o3232" BEL
        "vga_inst/Inst_RAM32x40/_o3230" BEL "vga_inst/Inst_RAM32x40/_o3228"
        BEL "vga_inst/Inst_RAM32x40/_o3224" BEL
        "vga_inst/Inst_RAM32x40/_o3222" BEL "vga_inst/Inst_RAM32x40/_o3226"
        BEL "vga_inst/Inst_RAM32x40/_o3220" BEL
        "vga_inst/Inst_RAM32x40/_o3218" BEL "vga_inst/Inst_RAM32x40/_o3216"
        BEL "vga_inst/Inst_RAM32x40/_o3214" BEL
        "vga_inst/Inst_RAM32x40/_o3212" BEL "vga_inst/Inst_RAM32x40/_o3210"
        BEL "vga_inst/Inst_RAM32x40/_o3206" BEL
        "vga_inst/Inst_RAM32x40/_o3204" BEL "vga_inst/Inst_RAM32x40/_o3208"
        BEL "vga_inst/Inst_RAM32x40/_o3202" BEL
        "vga_inst/Inst_RAM32x40/_o3200" BEL "vga_inst/Inst_RAM32x40/_o3198"
        BEL "vga_inst/Inst_RAM32x40/_o3196" BEL
        "vga_inst/Inst_RAM32x40/_o3194" BEL "vga_inst/Inst_RAM32x40/_o3192"
        BEL "vga_inst/Inst_RAM32x40/_o3188" BEL
        "vga_inst/Inst_RAM32x40/_o3186" BEL "vga_inst/Inst_RAM32x40/_o3190"
        BEL "vga_inst/Inst_RAM32x40/_o3184" BEL
        "vga_inst/Inst_RAM32x40/_o3182" BEL "vga_inst/Inst_RAM32x40/_o3178"
        BEL "vga_inst/Inst_RAM32x40/_o3176" BEL
        "vga_inst/Inst_RAM32x40/_o3180" BEL "vga_inst/Inst_RAM32x40/_o3174"
        BEL "vga_inst/Inst_RAM32x40/_o3172" BEL
        "vga_inst/Inst_RAM32x40/_o3168" BEL "vga_inst/Inst_RAM32x40/_o3166"
        BEL "vga_inst/Inst_RAM32x40/_o3170" BEL
        "vga_inst/Inst_RAM32x40/_o3164" BEL "vga_inst/Inst_RAM32x40/_o3162"
        BEL "vga_inst/Inst_RAM32x40/_o3160" BEL
        "vga_inst/Inst_RAM32x40/_o3158" BEL "vga_inst/Inst_RAM32x40/_o3156"
        BEL "vga_inst/Inst_RAM32x40/_o3154" BEL
        "vga_inst/Inst_RAM32x40/_o3150" BEL "vga_inst/Inst_RAM32x40/_o3148"
        BEL "vga_inst/Inst_RAM32x40/_o3152" BEL
        "vga_inst/Inst_RAM32x40/_o3146" BEL "vga_inst/Inst_RAM32x40/_o3144"
        BEL "vga_inst/Inst_RAM32x40/_o3140" BEL
        "vga_inst/Inst_RAM32x40/_o3138" BEL "vga_inst/Inst_RAM32x40/_o3142"
        BEL "vga_inst/Inst_RAM32x40/_o3136" BEL
        "vga_inst/Inst_RAM32x40/_o3134" BEL "vga_inst/Inst_RAM32x40/_o3130"
        BEL "vga_inst/Inst_RAM32x40/_o3128" BEL
        "vga_inst/Inst_RAM32x40/_o3132" BEL "vga_inst/Inst_RAM32x40/_o3126"
        BEL "vga_inst/Inst_RAM32x40/_o3124" BEL
        "vga_inst/Inst_RAM32x40/_o3122" BEL "vga_inst/Inst_RAM32x40/_o3120"
        BEL "vga_inst/Inst_RAM32x40/_o3118" BEL
        "vga_inst/Inst_RAM32x40/_o3116" BEL "vga_inst/Inst_RAM32x40/_o3112"
        BEL "vga_inst/Inst_RAM32x40/_o3110" BEL
        "vga_inst/Inst_RAM32x40/_o3114" BEL "vga_inst/Inst_RAM32x40/_o3108"
        BEL "vga_inst/Inst_RAM32x40/_o3106" BEL
        "vga_inst/Inst_RAM32x40/_o3102" BEL "vga_inst/Inst_RAM32x40/_o3100"
        BEL "vga_inst/Inst_RAM32x40/_o3104" BEL
        "vga_inst/Inst_RAM32x40/_o3098" BEL "vga_inst/Inst_RAM32x40/_o3096"
        BEL "vga_inst/Inst_RAM32x40/_o3092" BEL
        "vga_inst/Inst_RAM32x40/_o3090" BEL "vga_inst/Inst_RAM32x40/_o3094"
        BEL "vga_inst/Inst_RAM32x40/_o3088" BEL
        "vga_inst/Inst_RAM32x40/_o3086" BEL "vga_inst/Inst_RAM32x40/_o3084"
        BEL "vga_inst/Inst_RAM32x40/_o3082" BEL
        "vga_inst/Inst_RAM32x40/_o3080" BEL "vga_inst/Inst_RAM32x40/_o3078"
        BEL "vga_inst/Inst_RAM32x40/_o3074" BEL
        "vga_inst/Inst_RAM32x40/_o3072" BEL "vga_inst/Inst_RAM32x40/_o3076"
        BEL "vga_inst/Inst_RAM32x40/_o3070" BEL
        "vga_inst/Inst_RAM32x40/_o3068" BEL "vga_inst/Inst_RAM32x40/_o3066"
        BEL "vga_inst/Inst_RAM32x40/_o3064" BEL
        "vga_inst/Inst_RAM32x40/_o3062" BEL "vga_inst/Inst_RAM32x40/_o3060"
        BEL "vga_inst/Inst_RAM32x40/_o3056" BEL
        "vga_inst/Inst_RAM32x40/_o3054" BEL "vga_inst/Inst_RAM32x40/_o3058"
        BEL "vga_inst/Inst_RAM32x40/_o3052" BEL
        "vga_inst/Inst_RAM32x40/_o3050" BEL "vga_inst/Inst_RAM32x40/_o3048"
        BEL "vga_inst/Inst_RAM32x40/_o3046" BEL
        "vga_inst/Inst_RAM32x40/_o3044" BEL "vga_inst/Inst_RAM32x40/_o3042"
        BEL "vga_inst/Inst_RAM32x40/_o3038" BEL
        "vga_inst/Inst_RAM32x40/_o3036" BEL "vga_inst/Inst_RAM32x40/_o3040"
        BEL "vga_inst/Inst_RAM32x40/_o3034" BEL
        "vga_inst/Inst_RAM32x40/_o3032" BEL "vga_inst/Inst_RAM32x40/_o3028"
        BEL "vga_inst/Inst_RAM32x40/_o3026" BEL
        "vga_inst/Inst_RAM32x40/_o3030" BEL "vga_inst/Inst_RAM32x40/_o3024"
        BEL "vga_inst/Inst_RAM32x40/_o3022" BEL
        "vga_inst/Inst_RAM32x40/_o3018" BEL "vga_inst/Inst_RAM32x40/_o3016"
        BEL "vga_inst/Inst_RAM32x40/_o3020" BEL
        "vga_inst/Inst_RAM32x40/_o3014" BEL "vga_inst/Inst_RAM32x40/_o3012"
        BEL "vga_inst/Inst_RAM32x40/_o3010" BEL
        "vga_inst/Inst_RAM32x40/_o3008" BEL "vga_inst/Inst_RAM32x40/_o3006"
        BEL "vga_inst/Inst_RAM32x40/_o3004" BEL
        "vga_inst/Inst_RAM32x40/_o3000" BEL "vga_inst/Inst_RAM32x40/_o2998"
        BEL "vga_inst/Inst_RAM32x40/_o3002" BEL
        "vga_inst/Inst_RAM32x40/_o2996" BEL "vga_inst/Inst_RAM32x40/_o2994"
        BEL "vga_inst/Inst_RAM32x40/_o2990" BEL
        "vga_inst/Inst_RAM32x40/_o2988" BEL "vga_inst/Inst_RAM32x40/_o2992"
        BEL "vga_inst/Inst_RAM32x40/_o2986" BEL
        "vga_inst/Inst_RAM32x40/_o2984" BEL "vga_inst/Inst_RAM32x40/_o2980"
        BEL "vga_inst/Inst_RAM32x40/_o2978" BEL
        "vga_inst/Inst_RAM32x40/_o2982" BEL "vga_inst/Inst_RAM32x40/_o2976"
        BEL "vga_inst/Inst_RAM32x40/_o2974" BEL
        "vga_inst/Inst_RAM32x40/_o2972" BEL "vga_inst/Inst_RAM32x40/_o2970"
        BEL "vga_inst/Inst_RAM32x40/_o2968" BEL
        "vga_inst/Inst_RAM32x40/_o2966" BEL "vga_inst/Inst_RAM32x40/_o2962"
        BEL "vga_inst/Inst_RAM32x40/_o2960" BEL
        "vga_inst/Inst_RAM32x40/_o2964" BEL "vga_inst/Inst_RAM32x40/_o2958"
        BEL "vga_inst/Inst_RAM32x40/_o2956" BEL
        "vga_inst/Inst_RAM32x40/_o2952" BEL "vga_inst/Inst_RAM32x40/_o2950"
        BEL "vga_inst/Inst_RAM32x40/_o2954" BEL
        "vga_inst/Inst_RAM32x40/_o2948" BEL "vga_inst/Inst_RAM32x40/_o2946"
        BEL "vga_inst/Inst_RAM32x40/_o2942" BEL
        "vga_inst/Inst_RAM32x40/_o2940" BEL "vga_inst/Inst_RAM32x40/_o2944"
        BEL "vga_inst/Inst_RAM32x40/_o2938" BEL
        "vga_inst/Inst_RAM32x40/_o2936" BEL "vga_inst/Inst_RAM32x40/_o2934"
        BEL "vga_inst/Inst_RAM32x40/_o2932" BEL
        "vga_inst/Inst_RAM32x40/_o2930" BEL "vga_inst/Inst_RAM32x40/_o2928"
        BEL "vga_inst/Inst_RAM32x40/_o2924" BEL
        "vga_inst/Inst_RAM32x40/_o2922" BEL "vga_inst/Inst_RAM32x40/_o2926"
        BEL "vga_inst/Inst_RAM32x40/_o2920" BEL
        "vga_inst/Inst_RAM32x40/_o2918" BEL "vga_inst/Inst_RAM32x40/_o2916"
        BEL "vga_inst/Inst_RAM32x40/_o2914" BEL
        "vga_inst/Inst_RAM32x40/_o2912" BEL "vga_inst/Inst_RAM32x40/_o2910"
        BEL "vga_inst/Inst_RAM32x40/_o2906" BEL
        "vga_inst/Inst_RAM32x40/_o2904" BEL "vga_inst/Inst_RAM32x40/_o2908"
        BEL "vga_inst/Inst_RAM32x40/_o2902" BEL
        "vga_inst/Inst_RAM32x40/_o2900" BEL "vga_inst/Inst_RAM32x40/_o2898"
        BEL "vga_inst/Inst_RAM32x40/_o2896" BEL
        "vga_inst/Inst_RAM32x40/_o2894" BEL "vga_inst/Inst_RAM32x40/_o2892"
        BEL "vga_inst/Inst_RAM32x40/_o2888" BEL
        "vga_inst/Inst_RAM32x40/_o2886" BEL "vga_inst/Inst_RAM32x40/_o2890"
        BEL "vga_inst/Inst_RAM32x40/_o2884" BEL
        "vga_inst/Inst_RAM32x40/_o2882" BEL "vga_inst/Inst_RAM32x40/_o2878"
        BEL "vga_inst/Inst_RAM32x40/_o2876" BEL
        "vga_inst/Inst_RAM32x40/_o2880" BEL "vga_inst/Inst_RAM32x40/_o2874"
        BEL "vga_inst/Inst_RAM32x40/_o2872" BEL
        "vga_inst/Inst_RAM32x40/_o2868" BEL "vga_inst/Inst_RAM32x40/_o2866"
        BEL "vga_inst/Inst_RAM32x40/_o2870" BEL
        "vga_inst/Inst_RAM32x40/_o2864" BEL "vga_inst/Inst_RAM32x40/_o2862"
        BEL "vga_inst/Inst_RAM32x40/_o2860" BEL
        "vga_inst/Inst_RAM32x40/_o2858" BEL "vga_inst/Inst_RAM32x40/_o2856"
        BEL "vga_inst/Inst_RAM32x40/_o2854" BEL
        "vga_inst/Inst_RAM32x40/_o2850" BEL "vga_inst/Inst_RAM32x40/_o2848"
        BEL "vga_inst/Inst_RAM32x40/_o2852" BEL
        "vga_inst/Inst_RAM32x40/_o2846" BEL "vga_inst/Inst_RAM32x40/_o2844"
        BEL "vga_inst/Inst_RAM32x40/_o2840" BEL
        "vga_inst/Inst_RAM32x40/_o2838" BEL "vga_inst/Inst_RAM32x40/_o2842"
        BEL "vga_inst/Inst_RAM32x40/_o2836" BEL
        "vga_inst/Inst_RAM32x40/_o2834" BEL "vga_inst/Inst_RAM32x40/_o2830"
        BEL "vga_inst/Inst_RAM32x40/_o2828" BEL
        "vga_inst/Inst_RAM32x40/_o2832" BEL "vga_inst/Inst_RAM32x40/_o2826"
        BEL "vga_inst/Inst_RAM32x40/_o2824" BEL
        "vga_inst/Inst_RAM32x40/_o2822" BEL "vga_inst/Inst_RAM32x40/_o2820"
        BEL "vga_inst/Inst_RAM32x40/_o2818" BEL
        "vga_inst/Inst_RAM32x40/_o2816" BEL "vga_inst/Inst_RAM32x40/_o2812"
        BEL "vga_inst/Inst_RAM32x40/_o2810" BEL
        "vga_inst/Inst_RAM32x40/_o2814" BEL "vga_inst/Inst_RAM32x40/_o2808"
        BEL "vga_inst/Inst_RAM32x40/_o2806" BEL
        "vga_inst/Inst_RAM32x40/_o2802" BEL "vga_inst/Inst_RAM32x40/_o2800"
        BEL "vga_inst/Inst_RAM32x40/_o2804" BEL
        "vga_inst/Inst_RAM32x40/_o2798" BEL "vga_inst/Inst_RAM32x40/_o2796"
        BEL "vga_inst/Inst_RAM32x40/_o2792" BEL
        "vga_inst/Inst_RAM32x40/_o2790" BEL "vga_inst/Inst_RAM32x40/_o2794"
        BEL "vga_inst/Inst_RAM32x40/_o2788" BEL
        "vga_inst/Inst_RAM32x40/_o2786" BEL "vga_inst/Inst_RAM32x40/_o2784"
        BEL "vga_inst/Inst_RAM32x40/_o2782" BEL
        "vga_inst/Inst_RAM32x40/_o2780" BEL "vga_inst/Inst_RAM32x40/_o2778"
        BEL "vga_inst/Inst_RAM32x40/_o2774" BEL
        "vga_inst/Inst_RAM32x40/_o2772" BEL "vga_inst/Inst_RAM32x40/_o2776"
        BEL "vga_inst/Inst_RAM32x40/_o2770" BEL
        "vga_inst/Inst_RAM32x40/_o2768" BEL "vga_inst/Inst_RAM32x40/_o2766"
        BEL "vga_inst/Inst_RAM32x40/_o2764" BEL
        "vga_inst/Inst_RAM32x40/_o2762" BEL "vga_inst/Inst_RAM32x40/_o2760"
        BEL "vga_inst/Inst_RAM32x40/_o2756" BEL
        "vga_inst/Inst_RAM32x40/_o2754" BEL "vga_inst/Inst_RAM32x40/_o2758"
        BEL "vga_inst/Inst_RAM32x40/_o2752" BEL
        "vga_inst/Inst_RAM32x40/_o2750" BEL "vga_inst/Inst_RAM32x40/_o2748"
        BEL "vga_inst/Inst_RAM32x40/_o2746" BEL
        "vga_inst/Inst_RAM32x40/_o2744" BEL "vga_inst/Inst_RAM32x40/_o2742"
        BEL "vga_inst/Inst_RAM32x40/_o2738" BEL
        "vga_inst/Inst_RAM32x40/_o2736" BEL "vga_inst/Inst_RAM32x40/_o2740"
        BEL "vga_inst/Inst_RAM32x40/_o2734" BEL
        "vga_inst/Inst_RAM32x40/_o2732" BEL "vga_inst/Inst_RAM32x40/_o2728"
        BEL "vga_inst/Inst_RAM32x40/_o2726" BEL
        "vga_inst/Inst_RAM32x40/_o2730" BEL "vga_inst/Inst_RAM32x40/_o2724"
        BEL "vga_inst/Inst_RAM32x40/_o2722" BEL
        "vga_inst/Inst_RAM32x40/_o2718" BEL "vga_inst/Inst_RAM32x40/_o2716"
        BEL "vga_inst/Inst_RAM32x40/_o2720" BEL
        "vga_inst/Inst_RAM32x40/_o2714" BEL "vga_inst/Inst_RAM32x40/_o2712"
        BEL "vga_inst/Inst_RAM32x40/_o2710" BEL
        "vga_inst/Inst_RAM32x40/_o2708" BEL "vga_inst/Inst_RAM32x40/_o2706"
        BEL "vga_inst/Inst_RAM32x40/_o2704" BEL
        "vga_inst/Inst_RAM32x40/_o2700" BEL "vga_inst/Inst_RAM32x40/_o2698"
        BEL "vga_inst/Inst_RAM32x40/_o2702" BEL
        "vga_inst/Inst_RAM32x40/_o2696" BEL "vga_inst/Inst_RAM32x40/_o2694"
        BEL "vga_inst/Inst_RAM32x40/_o2690" BEL
        "vga_inst/Inst_RAM32x40/_o2688" BEL "vga_inst/Inst_RAM32x40/_o2692"
        BEL "vga_inst/Inst_RAM32x40/_o2686" BEL
        "vga_inst/Inst_RAM32x40/_o2684" BEL "vga_inst/Inst_RAM32x40/_o2680"
        BEL "vga_inst/Inst_RAM32x40/_o2678" BEL
        "vga_inst/Inst_RAM32x40/_o2682" BEL "vga_inst/Inst_RAM32x40/_o2676"
        BEL "vga_inst/Inst_RAM32x40/_o2674" BEL
        "vga_inst/Inst_RAM32x40/_o2672" BEL "vga_inst/Inst_RAM32x40/_o2670"
        BEL "vga_inst/Inst_RAM32x40/_o2668" BEL
        "vga_inst/Inst_RAM32x40/_o2666" BEL "vga_inst/Inst_RAM32x40/_o2662"
        BEL "vga_inst/Inst_RAM32x40/_o2660" BEL
        "vga_inst/Inst_RAM32x40/_o2664" BEL "vga_inst/Inst_RAM32x40/_o2658"
        BEL "vga_inst/Inst_RAM32x40/_o2656" BEL
        "vga_inst/Inst_RAM32x40/_o2652" BEL "vga_inst/Inst_RAM32x40/_o2650"
        BEL "vga_inst/Inst_RAM32x40/_o2654" BEL
        "vga_inst/Inst_RAM32x40/_o2648" BEL "vga_inst/Inst_RAM32x40/_o2646"
        BEL "vga_inst/Inst_RAM32x40/_o2642" BEL
        "vga_inst/Inst_RAM32x40/_o2640" BEL "vga_inst/Inst_RAM32x40/_o2644"
        BEL "vga_inst/Inst_RAM32x40/_o2638" BEL
        "vga_inst/Inst_RAM32x40/_o2636" BEL "vga_inst/Inst_RAM32x40/_o2634"
        BEL "vga_inst/Inst_RAM32x40/_o2632" BEL
        "vga_inst/Inst_RAM32x40/_o2630" BEL "vga_inst/Inst_RAM32x40/_o2628"
        BEL "vga_inst/Inst_RAM32x40/_o2624" BEL
        "vga_inst/Inst_RAM32x40/_o2622" BEL "vga_inst/Inst_RAM32x40/_o2626"
        BEL "vga_inst/Inst_RAM32x40/_o2620" BEL
        "vga_inst/Inst_RAM32x40/_o2618" BEL "vga_inst/Inst_RAM32x40/_o2616"
        BEL "vga_inst/Inst_RAM32x40/_o2614" BEL
        "vga_inst/Inst_RAM32x40/_o2612" BEL "vga_inst/Inst_RAM32x40/_o2610"
        BEL "vga_inst/Inst_RAM32x40/_o2606" BEL
        "vga_inst/Inst_RAM32x40/_o2604" BEL "vga_inst/Inst_RAM32x40/_o2608"
        BEL "vga_inst/Inst_RAM32x40/_o2602" BEL
        "vga_inst/Inst_RAM32x40/_o2600" BEL "vga_inst/Inst_RAM32x40/_o2598"
        BEL "vga_inst/Inst_RAM32x40/_o2596" BEL
        "vga_inst/Inst_RAM32x40/_o2594" BEL "vga_inst/Inst_RAM32x40/_o2592"
        BEL "vga_inst/Inst_RAM32x40/_o2588" BEL
        "vga_inst/Inst_RAM32x40/_o2586" BEL "vga_inst/Inst_RAM32x40/_o2590"
        BEL "vga_inst/Inst_RAM32x40/_o2584" BEL
        "vga_inst/Inst_RAM32x40/_o2582" BEL "vga_inst/Inst_RAM32x40/_o2578"
        BEL "vga_inst/Inst_RAM32x40/_o2576" BEL
        "vga_inst/Inst_RAM32x40/_o2580" BEL "vga_inst/Inst_RAM32x40/_o2574"
        BEL "vga_inst/Inst_RAM32x40/_o2572" BEL
        "vga_inst/Inst_RAM32x40/_o2568" BEL "vga_inst/Inst_RAM32x40/_o2566"
        BEL "vga_inst/Inst_RAM32x40/_o2570" BEL
        "vga_inst/Inst_RAM32x40/_o2564" BEL "vga_inst/Inst_RAM32x40/_o2562"
        BEL "vga_inst/Inst_RAM32x40/_o2560" BEL
        "vga_inst/Inst_RAM32x40/_o2558" BEL "vga_inst/Inst_RAM32x40/_o2556"
        BEL "vga_inst/Inst_RAM32x40/_o2554" BEL
        "vga_inst/Inst_RAM32x40/_o2550" BEL "vga_inst/Inst_RAM32x40/_o2548"
        BEL "vga_inst/Inst_RAM32x40/_o2552" BEL
        "vga_inst/Inst_RAM32x40/_o2546" BEL "vga_inst/Inst_RAM32x40/_o2544"
        BEL "vga_inst/Inst_RAM32x40/_o2540" BEL
        "vga_inst/Inst_RAM32x40/_o2538" BEL "vga_inst/Inst_RAM32x40/_o2542"
        BEL "vga_inst/Inst_RAM32x40/_o2536" BEL
        "vga_inst/Inst_RAM32x40/_o2534" BEL "vga_inst/Inst_RAM32x40/_o2530"
        BEL "vga_inst/Inst_RAM32x40/_o2528" BEL
        "vga_inst/Inst_RAM32x40/_o2532" BEL "vga_inst/Inst_RAM32x40/_o2526"
        BEL "vga_inst/Inst_RAM32x40/_o2524" BEL
        "vga_inst/Inst_RAM32x40/_o2522" BEL "vga_inst/Inst_RAM32x40/_o2520"
        BEL "vga_inst/Inst_RAM32x40/_o2518" BEL
        "vga_inst/Inst_RAM32x40/_o2516" BEL "vga_inst/Inst_RAM32x40/_o2512"
        BEL "vga_inst/Inst_RAM32x40/_o2510" BEL
        "vga_inst/Inst_RAM32x40/_o2514" BEL "vga_inst/Inst_RAM32x40/_o2508"
        BEL "vga_inst/Inst_RAM32x40/_o2506" BEL
        "vga_inst/Inst_RAM32x40/_o2502" BEL "vga_inst/Inst_RAM32x40/_o2500"
        BEL "vga_inst/Inst_RAM32x40/_o2504" BEL
        "vga_inst/Inst_RAM32x40/_o2498" BEL "vga_inst/Inst_RAM32x40/_o2496"
        BEL "vga_inst/Inst_RAM32x40/_o2492" BEL
        "vga_inst/Inst_RAM32x40/_o2490" BEL "vga_inst/Inst_RAM32x40/_o2494"
        BEL "vga_inst/Inst_RAM32x40/_o2488" BEL
        "vga_inst/Inst_RAM32x40/_o2486" BEL "vga_inst/Inst_RAM32x40/_o2484"
        BEL "vga_inst/Inst_RAM32x40/_o2482" BEL
        "vga_inst/Inst_RAM32x40/_o2480" BEL "vga_inst/Inst_RAM32x40/_o2478"
        BEL "vga_inst/Inst_RAM32x40/_o2474" BEL
        "vga_inst/Inst_RAM32x40/_o2472" BEL "vga_inst/Inst_RAM32x40/_o2476"
        BEL "vga_inst/Inst_RAM32x40/_o2470" BEL
        "vga_inst/Inst_RAM32x40/_o2468" BEL "vga_inst/Inst_RAM32x40/_o2466"
        BEL "vga_inst/Inst_RAM32x40/_o2464" BEL
        "vga_inst/Inst_RAM32x40/_o2462" BEL "vga_inst/Inst_RAM32x40/_o2460"
        BEL "vga_inst/Inst_RAM32x40/_o2456" BEL
        "vga_inst/Inst_RAM32x40/_o2454" BEL "vga_inst/Inst_RAM32x40/_o2458"
        BEL "vga_inst/Inst_RAM32x40/_o2452" BEL
        "vga_inst/Inst_RAM32x40/_o2450" BEL "vga_inst/Inst_RAM32x40/_o2448"
        BEL "vga_inst/Inst_RAM32x40/_o2446" BEL
        "vga_inst/Inst_RAM32x40/_o2444" BEL "vga_inst/Inst_RAM32x40/_o2442"
        BEL "vga_inst/Inst_RAM32x40/_o2438" BEL
        "vga_inst/Inst_RAM32x40/_o2436" BEL "vga_inst/Inst_RAM32x40/_o2440"
        BEL "vga_inst/Inst_RAM32x40/_o2434" BEL
        "vga_inst/Inst_RAM32x40/_o2432" BEL "vga_inst/Inst_RAM32x40/_o2428"
        BEL "vga_inst/Inst_RAM32x40/_o2426" BEL
        "vga_inst/Inst_RAM32x40/_o2430" BEL "vga_inst/Inst_RAM32x40/_o2424"
        BEL "vga_inst/Inst_RAM32x40/_o2422" BEL
        "vga_inst/Inst_RAM32x40/_o2418" BEL "vga_inst/Inst_RAM32x40/_o2416"
        BEL "vga_inst/Inst_RAM32x40/_o2420" BEL
        "vga_inst/Inst_RAM32x40/_o2414" BEL "vga_inst/Inst_RAM32x40/_o2412"
        BEL "vga_inst/Inst_RAM32x40/_o2410" BEL
        "vga_inst/Inst_RAM32x40/_o2408" BEL "vga_inst/Inst_RAM32x40/_o2406"
        BEL "vga_inst/Inst_RAM32x40/_o2404" BEL
        "vga_inst/Inst_RAM32x40/_o2400" BEL "vga_inst/Inst_RAM32x40/_o2398"
        BEL "vga_inst/Inst_RAM32x40/_o2402" BEL
        "vga_inst/Inst_RAM32x40/_o2396" BEL "vga_inst/Inst_RAM32x40/_o2394"
        BEL "vga_inst/Inst_RAM32x40/_o2390" BEL
        "vga_inst/Inst_RAM32x40/_o2388" BEL "vga_inst/Inst_RAM32x40/_o2392"
        BEL "vga_inst/Inst_RAM32x40/_o2386" BEL
        "vga_inst/Inst_RAM32x40/_o2384" BEL "vga_inst/Inst_RAM32x40/_o2380"
        BEL "vga_inst/Inst_RAM32x40/_o2378" BEL
        "vga_inst/Inst_RAM32x40/_o2382" BEL "vga_inst/Inst_RAM32x40/_o2376"
        BEL "vga_inst/Inst_RAM32x40/_o2374" BEL
        "vga_inst/Inst_RAM32x40/_o2372" BEL "vga_inst/Inst_RAM32x40/_o2370"
        BEL "vga_inst/Inst_RAM32x40/_o2368" BEL
        "vga_inst/Inst_RAM32x40/_o2366" BEL "vga_inst/Inst_RAM32x40/_o2362"
        BEL "vga_inst/Inst_RAM32x40/_o2360" BEL
        "vga_inst/Inst_RAM32x40/_o2364" BEL "vga_inst/Inst_RAM32x40/_o2358"
        BEL "vga_inst/Inst_RAM32x40/_o2356" BEL
        "vga_inst/Inst_RAM32x40/_o2352" BEL "vga_inst/Inst_RAM32x40/_o2350"
        BEL "vga_inst/Inst_RAM32x40/_o2354" BEL
        "vga_inst/Inst_RAM32x40/_o2348" BEL "vga_inst/Inst_RAM32x40/_o2346"
        BEL "vga_inst/Inst_RAM32x40/_o2342" BEL
        "vga_inst/Inst_RAM32x40/_o2340" BEL "vga_inst/Inst_RAM32x40/_o2344"
        BEL "vga_inst/Inst_RAM32x40/_o2338" BEL
        "vga_inst/Inst_RAM32x40/_o2336" BEL "vga_inst/Inst_RAM32x40/_o2334"
        BEL "vga_inst/Inst_RAM32x40/_o2332" BEL
        "vga_inst/Inst_RAM32x40/_o2330" BEL "vga_inst/Inst_RAM32x40/_o2328"
        BEL "vga_inst/Inst_RAM32x40/_o2324" BEL
        "vga_inst/Inst_RAM32x40/_o2322" BEL "vga_inst/Inst_RAM32x40/_o2326"
        BEL "vga_inst/Inst_RAM32x40/_o2320" BEL
        "vga_inst/Inst_RAM32x40/_o2318" BEL "vga_inst/Inst_RAM32x40/_o2316"
        BEL "vga_inst/Inst_RAM32x40/_o2314" BEL
        "vga_inst/Inst_RAM32x40/_o2312" BEL "vga_inst/Inst_RAM32x40/_o2310"
        BEL "vga_inst/Inst_RAM32x40/_o2306" BEL
        "vga_inst/Inst_RAM32x40/_o2304" BEL "vga_inst/Inst_RAM32x40/_o2308"
        BEL "vga_inst/Inst_RAM32x40/_o2302" BEL
        "vga_inst/Inst_RAM32x40/_o2300" BEL "vga_inst/Inst_RAM32x40/_o2298"
        BEL "vga_inst/Inst_RAM32x40/_o2296" BEL
        "vga_inst/Inst_RAM32x40/_o2294" BEL "vga_inst/Inst_RAM32x40/_o2292"
        BEL "vga_inst/Inst_RAM32x40/_o2288" BEL
        "vga_inst/Inst_RAM32x40/_o2286" BEL "vga_inst/Inst_RAM32x40/_o2290"
        BEL "vga_inst/Inst_RAM32x40/_o2284" BEL
        "vga_inst/Inst_RAM32x40/_o2282" BEL "vga_inst/Inst_RAM32x40/_o2278"
        BEL "vga_inst/Inst_RAM32x40/_o2276" BEL
        "vga_inst/Inst_RAM32x40/_o2280" BEL "vga_inst/Inst_RAM32x40/_o2274"
        BEL "vga_inst/Inst_RAM32x40/_o2272" BEL
        "vga_inst/Inst_RAM32x40/_o2268" BEL "vga_inst/Inst_RAM32x40/_o2266"
        BEL "vga_inst/Inst_RAM32x40/_o2270" BEL
        "vga_inst/Inst_RAM32x40/_o2264" BEL "vga_inst/Inst_RAM32x40/_o2262"
        BEL "vga_inst/Inst_RAM32x40/_o2260" BEL
        "vga_inst/Inst_RAM32x40/_o2258" BEL "vga_inst/Inst_RAM32x40/_o2256"
        BEL "vga_inst/Inst_RAM32x40/_o2254" BEL
        "vga_inst/Inst_RAM32x40/_o2250" BEL "vga_inst/Inst_RAM32x40/_o2248"
        BEL "vga_inst/Inst_RAM32x40/_o2252" BEL
        "vga_inst/Inst_RAM32x40/_o2246" BEL "vga_inst/Inst_RAM32x40/_o2244"
        BEL "vga_inst/Inst_RAM32x40/_o2240" BEL
        "vga_inst/Inst_RAM32x40/_o2238" BEL "vga_inst/Inst_RAM32x40/_o2242"
        BEL "vga_inst/Inst_RAM32x40/_o2236" BEL
        "vga_inst/Inst_RAM32x40/_o2234" BEL "vga_inst/Inst_RAM32x40/_o2230"
        BEL "vga_inst/Inst_RAM32x40/_o2228" BEL
        "vga_inst/Inst_RAM32x40/_o2232" BEL "vga_inst/Inst_RAM32x40/_o2226"
        BEL "vga_inst/Inst_RAM32x40/_o2224" BEL
        "vga_inst/Inst_RAM32x40/_o2222" BEL "vga_inst/Inst_RAM32x40/_o2220"
        BEL "vga_inst/Inst_RAM32x40/_o2218" BEL
        "vga_inst/Inst_RAM32x40/_o2216" BEL "vga_inst/Inst_RAM32x40/_o2212"
        BEL "vga_inst/Inst_RAM32x40/_o2210" BEL
        "vga_inst/Inst_RAM32x40/_o2214" BEL "vga_inst/Inst_RAM32x40/_o2208"
        BEL "vga_inst/Inst_RAM32x40/_o2206" BEL
        "vga_inst/Inst_RAM32x40/_o2202" BEL "vga_inst/Inst_RAM32x40/_o2200"
        BEL "vga_inst/Inst_RAM32x40/_o2204" BEL
        "vga_inst/Inst_RAM32x40/_o2198" BEL "vga_inst/Inst_RAM32x40/_o2196"
        BEL "vga_inst/Inst_RAM32x40/_o2192" BEL
        "vga_inst/Inst_RAM32x40/_o2190" BEL "vga_inst/Inst_RAM32x40/_o2194"
        BEL "vga_inst/Inst_RAM32x40/_o2188" BEL
        "vga_inst/Inst_RAM32x40/_o2186" BEL "vga_inst/Inst_RAM32x40/_o2184"
        BEL "vga_inst/Inst_RAM32x40/_o2182" BEL
        "vga_inst/Inst_RAM32x40/_o2180" BEL "vga_inst/Inst_RAM32x40/_o2178"
        BEL "vga_inst/Inst_RAM32x40/_o2174" BEL
        "vga_inst/Inst_RAM32x40/_o2172" BEL "vga_inst/Inst_RAM32x40/_o2176"
        BEL "vga_inst/Inst_RAM32x40/_o2170" BEL
        "vga_inst/Inst_RAM32x40/_o2168" BEL "vga_inst/Inst_RAM32x40/_o2164"
        BEL "vga_inst/Inst_RAM32x40/_o2162" BEL
        "vga_inst/Inst_RAM32x40/_o2166" BEL "vga_inst/Inst_RAM32x40/_o2160"
        BEL "vga_inst/Inst_RAM32x40/_o2158" BEL
        "vga_inst/Inst_RAM32x40/_o2154" BEL "vga_inst/Inst_RAM32x40/_o2152"
        BEL "vga_inst/Inst_RAM32x40/_o2156" BEL
        "vga_inst/Inst_RAM32x40/_o2150" BEL "vga_inst/Inst_RAM32x40/_o2148"
        BEL "vga_inst/Inst_RAM32x40/_o2146" BEL
        "vga_inst/Inst_RAM32x40/_o2144" BEL "vga_inst/Inst_RAM32x40/_o2142"
        BEL "vga_inst/Inst_RAM32x40/_o2140" BEL
        "vga_inst/Inst_RAM32x40/_o2136" BEL "vga_inst/Inst_RAM32x40/_o2134"
        BEL "vga_inst/Inst_RAM32x40/_o2138" BEL
        "vga_inst/Inst_RAM32x40/_o2132" BEL "vga_inst/Inst_RAM32x40/_o2130"
        BEL "vga_inst/Inst_RAM32x40/_o2126" BEL
        "vga_inst/Inst_RAM32x40/_o2124" BEL "vga_inst/Inst_RAM32x40/_o2128"
        BEL "vga_inst/Inst_RAM32x40/_o2122" BEL
        "vga_inst/Inst_RAM32x40/_o2120" BEL "vga_inst/Inst_RAM32x40/_o2116"
        BEL "vga_inst/Inst_RAM32x40/_o2114" BEL
        "vga_inst/Inst_RAM32x40/_o2118" BEL "vga_inst/Inst_RAM32x40/_o2112"
        BEL "vga_inst/Inst_RAM32x40/_o2110" BEL
        "vga_inst/Inst_RAM32x40/_o2108" BEL "vga_inst/Inst_RAM32x40/_o2106"
        BEL "vga_inst/Inst_RAM32x40/_o2104" BEL
        "vga_inst/Inst_RAM32x40/_o2102" BEL "vga_inst/Inst_RAM32x40/_o2098"
        BEL "vga_inst/Inst_RAM32x40/_o2096" BEL
        "vga_inst/Inst_RAM32x40/_o2100" BEL "vga_inst/Inst_RAM32x40/_o2094"
        BEL "vga_inst/Inst_RAM32x40/_o2092" BEL
        "vga_inst/Inst_RAM32x40/_o2088" BEL "vga_inst/Inst_RAM32x40/_o2086"
        BEL "vga_inst/Inst_RAM32x40/_o2090" BEL
        "vga_inst/Inst_RAM32x40/_o2084" BEL "vga_inst/Inst_RAM32x40/_o2082"
        BEL "vga_inst/Inst_RAM32x40/_o2078" BEL
        "vga_inst/Inst_RAM32x40/_o2076" BEL "vga_inst/Inst_RAM32x40/_o2080"
        BEL "vga_inst/Inst_RAM32x40/_o2074" BEL
        "vga_inst/Inst_RAM32x40/_o2072" BEL "vga_inst/Inst_RAM32x40/_o2070"
        BEL "vga_inst/Inst_RAM32x40/_o2068" BEL
        "vga_inst/Inst_RAM32x40/_o2066" BEL "vga_inst/Inst_RAM32x40/_o2064"
        BEL "vga_inst/Inst_RAM32x40/_o2060" BEL
        "vga_inst/Inst_RAM32x40/_o2058" BEL "vga_inst/Inst_RAM32x40/_o2062"
        BEL "vga_inst/Inst_RAM32x40/_o2056" BEL
        "vga_inst/Inst_RAM32x40/_o2054" BEL "vga_inst/Inst_RAM32x40/_o2050"
        BEL "vga_inst/Inst_RAM32x40/_o2048" BEL
        "vga_inst/Inst_RAM32x40/_o2052" BEL "vga_inst/Inst_RAM32x40/_o2046"
        BEL "vga_inst/Inst_RAM32x40/_o2044" BEL
        "vga_inst/Inst_RAM32x40/_o2040" BEL "vga_inst/Inst_RAM32x40/_o2038"
        BEL "vga_inst/Inst_RAM32x40/_o2042" BEL "kcpsm_int" BEL
        "Inst_kcpsm6/data_path_loop[0].small_spm.small_spm_ram.spm_ram_RAMA"
        BEL
        "Inst_kcpsm6/data_path_loop[0].small_spm.small_spm_ram.spm_ram_RAMB"
        BEL
        "Inst_kcpsm6/data_path_loop[0].small_spm.small_spm_ram.spm_ram_RAMC"
        BEL
        "Inst_kcpsm6/data_path_loop[0].small_spm.small_spm_ram.spm_ram_RAMD"
        BEL
        "Inst_kcpsm6/data_path_loop[4].small_spm.small_spm_ram.spm_ram_RAMA"
        BEL
        "Inst_kcpsm6/data_path_loop[4].small_spm.small_spm_ram.spm_ram_RAMB"
        BEL
        "Inst_kcpsm6/data_path_loop[4].small_spm.small_spm_ram.spm_ram_RAMC"
        BEL
        "Inst_kcpsm6/data_path_loop[4].small_spm.small_spm_ram.spm_ram_RAMD"
        BEL "Inst_kcpsm6/lower_reg_banks_RAMA_D1" BEL
        "Inst_kcpsm6/lower_reg_banks_RAMA" BEL
        "Inst_kcpsm6/lower_reg_banks_RAMB_D1" BEL
        "Inst_kcpsm6/lower_reg_banks_RAMB" BEL
        "Inst_kcpsm6/lower_reg_banks_RAMC_D1" BEL
        "Inst_kcpsm6/lower_reg_banks_RAMC" BEL
        "Inst_kcpsm6/lower_reg_banks_RAMD_D1" BEL
        "Inst_kcpsm6/lower_reg_banks_RAMD" BEL
        "Inst_kcpsm6/stack_ram_high_RAMA_D1" BEL
        "Inst_kcpsm6/stack_ram_high_RAMA" BEL
        "Inst_kcpsm6/stack_ram_high_RAMB_D1" BEL
        "Inst_kcpsm6/stack_ram_high_RAMB" BEL
        "Inst_kcpsm6/stack_ram_high_RAMC_D1" BEL
        "Inst_kcpsm6/stack_ram_high_RAMC" BEL
        "Inst_kcpsm6/stack_ram_high_RAMD_D1" BEL
        "Inst_kcpsm6/stack_ram_high_RAMD" BEL
        "Inst_kcpsm6/stack_ram_low_RAMA_D1" BEL
        "Inst_kcpsm6/stack_ram_low_RAMA" BEL
        "Inst_kcpsm6/stack_ram_low_RAMB_D1" BEL
        "Inst_kcpsm6/stack_ram_low_RAMB" BEL
        "Inst_kcpsm6/stack_ram_low_RAMC_D1" BEL
        "Inst_kcpsm6/stack_ram_low_RAMC" BEL
        "Inst_kcpsm6/stack_ram_low_RAMD_D1" BEL
        "Inst_kcpsm6/stack_ram_low_RAMD" BEL
        "Inst_kcpsm6/upper_reg_banks_RAMA_D1" BEL
        "Inst_kcpsm6/upper_reg_banks_RAMA" BEL
        "Inst_kcpsm6/upper_reg_banks_RAMB_D1" BEL
        "Inst_kcpsm6/upper_reg_banks_RAMB" BEL
        "Inst_kcpsm6/upper_reg_banks_RAMC_D1" BEL
        "Inst_kcpsm6/upper_reg_banks_RAMC" BEL
        "Inst_kcpsm6/upper_reg_banks_RAMD_D1" BEL
        "Inst_kcpsm6/upper_reg_banks_RAMD" PIN
        "Inst_firmware/ram_1k_generate.akv7.kcpsm6_rom_pins<32>";
PIN clkgen_inst/mmcm_adv_inst_pins<2> = BEL "clkgen_inst/mmcm_adv_inst"
        PINNAME CLKIN1;
TIMEGRP clk_m = PIN "clkgen_inst/mmcm_adv_inst_pins<2>";
TS_clk = PERIOD TIMEGRP "clk_m" 10 ns HIGH 50%;
TS_clkgen_inst_clkout0 = PERIOD TIMEGRP "clkgen_inst_clkout0" TS_clk / 0.5
        HIGH 50%;
SCHEMATIC END;

